$color-black: black;
$color-primary: rgb(60, 60, 226);
$color-white: white;

*{
    font-family: 'Rubik', sans-serif;
}

.btns-primary{
    padding: 6px 16px;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 8px;
    color: $color-primary;
    background: transparent;
    border: 2px solid $color-primary;
    transition: all .3s;
    &:hover{
        background: $color-primary;
        color: white;
    }
}
.display-none{
    opacity: 0;
    visibility: collapse;
}
#bg{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 89;
    background: rgba($color: #000000, $alpha: .7);
}
